.chats{
    background-color: #5E79D1;
}

/* SEARCH BAR */

.search-create-bar{
    width: 100%;
    background-color:grey;
    position: fixed;
    left: 50%;
    transform: translate(-50%);
    padding: 15px;
}

.search-create-bar > form{
    width: min(60%,800px);
    height: 50px;
    top: 25px;
    background-color: white;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 20px;
    justify-content: space-around;
}
.search-create-bar > form > input{
    font-family: Roboto, Arial, sans-serif;
    font-size: 30px;
    color: #3F52B3;
    outline: none;
    border: none;
}

.search-create-bar > form > button{
    height: 50px;
    width: 50px;
    border-radius: 0 20px 20px 0;
    background-color: white;
    outline: none;
    border: none;
}

.search-create-bar > form > button > img{
    height: 30px;
}

/* CHAT LIST*/

.button-wrapper{
    justify-content: space-around;
}

.chat-list{
    background-color: #5E79D1;
    min-height: 100vh;
    margin: 0 auto;
    padding: 125px 0;
}
.chat{
    height: 100px;
    width: min(80vw,800px);
    margin: 10px 0;
    background-color: white;
}

.chat-info{
    margin: 10px 0;
    width: 100%;
    justify-content: space-between;
}
.chat-name{
    font-size: 30px;
    font-family: 'MuseoModerno';
}
.chat-link{
    border-bottom: 2px solid white;
}

.lastMessageDate{
    color:#5E79D1;
}


/* Footer */
.menu-section{
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    width: min(90vw,800px);
    bottom: 0;
    height: 20vh;
    background-color: white;
    border-radius: 20px 20px 0 0;
    border: black solid 2px;
    justify-content: space-around;
}

.menu-button{
    height: 75px;
    width: 75px;
    align-self: center;
}

.menu-button > img{
    opacity: 50%;
    height: 100%;
    width: 100%;
}

.menu-button:hover > img{
    opacity: 100%;
}

.top{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/* CHAT CREATE POPUP */
.overlay{
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: 2;
}

.popup{
    height: 200px;
    width: 200px;
    background-color: white;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 20px;
    border-radius: 20px;
}

.chat-name::placeholder{
    background-color: white;
    opacity: 1;
    color: white;
    size: 2px;
}

.create-button{
    color: blueviolet;
}
