/* GLOBAL STYLES */
*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

button{
    padding: 0;
    border: none;
    background: none;
}

input{
    outline: none;
    border: none;
}

/* PAGE */

.page{
    height: 100%;
    width: 100%;
}

/* NAMED STYLES */

.center{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.absolute{
    position: absolute;
}

.relative{
    position: relative;
}

.invis{
    display: none;
}

/* FLEX-WRAPPER */

.wrapper{
    display: flex;
}

.column-wrapper{
    flex-direction: column;
}

.row-wrapper{
    flex-direction: row;
}
