/* GLOBAL STYLES */
*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

button{
    padding: 0;
    border: none;
    background: none;
}

input{
    outline: none;
    border: none;
}

/* PAGE */

.page{
    height: 100%;
    width: 100%;
}

/* NAMED STYLES */

.center{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.absolute{
    position: absolute;
}

.relative{
    position: relative;
}

.invis{
    display: none;
}

/* FLEX-WRAPPER */

.wrapper{
    display: flex;
}

.column-wrapper{
    flex-direction: column;
}

.row-wrapper{
    flex-direction: row;
}

.shadow-top{
        --tw-shadow: 0 -4px 6px -1px rgb(0 0 0 / 0.1), 0 -2px 4px -2px rgb(0 0 0 / 0.1);
            --tw-shadow-colored: 0 -4px 6px -1px var(--tw-shadow-color), 0 -2px 4px -2px var(--tw-shadow-color);
            box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
